<div class="div">
    <h2>O Reino Monera:</h2>
    <p>O reino Monera é composto por seres 
    <a>unicelulares</a> e
    <a>procariontes</a>,
    e se subdivide em dois grupos:
    </p>
</div>

<div id="moneraGeral">
    <div [routerLink]="['/arqueobacterias']" id="archaea">
        <div id="tituloArch">
            <h3>Archaea</h3>
        </div>
<img src="../../assets/img/monera/arqueo.jpg" alt="">
    </div>

    <div [routerLink]="['/eubacterias']" id="eubacterias">
        <div id="tituloEuba">
            <h3>Eubactérias</h3>
        </div>
        <img src="../../assets/img/monera/bacteria.jpg" alt="">
    </div>
</div>