<header>
  <h1 [routerLink]="['/']" routerLinkActive="router-link-active"  class="titulo">Os 5 reinos Biológicos</h1>
</header>
<nav>
  <ul>
    <li [routerLink]="['/animalia']" id="animalia">Animalia</li>
    <li [routerLink]="['/plantae']" id="plantae">Plantae</li>
    <li [routerLink]="['/monera']" id="monera">Monera</li>
    <li [routerLink]="['/fungo']" id="funghi">Funghi</li>
    <li [routerLink]="['/protista']" id="protista">Protista</li>
  </ul>
</nav>
<section>
  <router-outlet></router-outlet>
  <div (click)="elefanteFdp()" id="elefanteTroll">
    <img src="../assets/img/elefante.jpg">
  </div>
</section>
<footer>
  <p>&copy;Gustavo_Pupo</p>
</footer>



