<div class="div">
  <h2>Reino Fungi:</h2>
  <p>O reino Fungi é composto por seres
    <a>heterotróficos</a>, que podem ser
    <a>Unicelulares</a> ou
    <a>Multicelulares</a> e que ja foram considerados plantas,
    porém como não possuem
    <a>clorofila</a> nem fazem
    <a>fotossíntese</a>, foram separados das plantas.
  </p>
</div>

<div id="fungiGeral">
  <div id="fungiCima">
    <div id="quitridios">
      <div id="tituloQuit">
        <h3>Quitrídios</h3>
      </div>
    </div>

    <div id="zigomicetos">
      <div id="tituloZigo">
        <h3>Zigomicetos</h3>
      </div>
    </div>

    <div id="glomeromicetos">
      <div id="tituloGlom">
        <h3>Glomeromicetos</h3>
      </div>
    </div>
  </div>
  <div id="fungiBaixo">
    <div id="ascomicetos">
      <div id="tituloAsco">
        <h3>Ascomicetos</h3>
      </div>
    </div>

    <div id="basidiomicetos">
      <div id="tituloBasi">
          <h3>Basidiomicetos</h3>
      </div>
    </div>
  </div>
</div>
