<div class="div">
  <h2>Características do Reino Animalia:</h2>
  <p>De forma simples, os seres pertencentes ao reino Animalia são:
    <a target="_blank" [routerLink]="['/glossario']">multicelulares</a>,
    <a target="_blank" [routerLink]="['/glossario']">eucariontes</a>,
    <a target="_blank" [routerLink]="['/glossario']">heterótrofos</a>,
    que as células formam tecidos biológicos, basicamente, os animais.</p>
</div>
<div class="div">
  <h2>Dentro desse reino existem aproximadamente 31
    <a target="_blank" [routerLink]="['/glossario']">filos</a>,
    mas aqui estão os principais:
  </h2>
</div>

<div id="filosAnimalia">
    <div id="animaliaCima">
  <div id="poriferos"></div>
  <div id="cnidarios"></div>
  <div id="platelmintos"></div>
    </div>
    <div id="animaliaMeio">
  <div id="nematelmintos"></div>
  <div id="cordados"></div>
  <div id="anelideos"></div>
    </div>
    <div id="animaliaBaixo">
  <div id="moluscos"></div>
  <div id="artropodes"></div>
  <div id="equinodermos"></div>
    </div>
</div>
