<div class="div">
  <h2>Características do Reino Animalia:</h2>
  <p>De forma simples, os seres pertencentes ao reino Animalia são:
    <a target="_blank" [routerLink]="['/glossario']">multicelulares</a>,
    <a target="_blank" [routerLink]="['/glossario']">eucariontes</a>,
    <a target="_blank" [routerLink]="['/glossario']">heterótrofos</a>,
    que as células formam tecidos biológicos, basicamente, os animais.</p>
</div>
<div class="div">
  <h2>Dentro desse reino existem aproximadamente 31
    <a target="_blank" [routerLink]="['/glossario']">filos</a>,
    mas aqui estão os principais:
  </h2>
</div>

<div id="filosAnimalia">
  <div id="animaliaCima">
    <div id="poriferos">
      <div id="tituloPori">
        <h3>Poríferos</h3>
      </div>
      <img src="../../assets/img/animalia/poriferos.jpg" alt="">
    </div>

    <div id="cnidarios">
      <div id="tituloCni">
        <h3>Cnidários</h3>
      </div>
      <img src="../../assets/img/animalia/cnidaria.jpg" alt="">
    </div>

    <div id="platelmintos">
      <div id="tituloPlat">
        <h3>Platelmintos</h3>
      </div>
      <img src="../../assets/img/animalia/platelmintos.jpg" alt="">
    </div>
  </div>

  <div id="animaliaMeio">
    <div id="nematelmintos">
      <div id="tituloNema">
        <h3>Nematelmintos</h3>
      </div>
      <img src="../../assets/img/animalia/nematelmintos.jpg" alt="">
    </div>

    <div id="cordados">
      <div id="tituloCord">
        <h2>Cordados</h2>
      </div>
      <img src="../../assets/img/animalia/cordado.jpg" alt="">
    </div>

    <div id="anelideos">
      <div id="tituloAnel">
        <h3>Anelídeos</h3>
      </div>
      <img src="../../assets/img/animalia/anelideos.jpg" alt="">
    </div>
  </div>

  <div id="animaliaBaixo">
    <div id="moluscos">
      <div id="tituloMolu">
        <h3>Moluscos</h3>
      </div>
      <img src="../../assets/img/animalia/molusco.jpg" alt="">
    </div>

    <div id="artropodes">
      <div id="tituloArtro">
        <h3>Artrópodes</h3>
      </div>
      <img src="../../assets/img/animalia/artropode.jpg" alt="">
    </div>
    
    <div id="equinodermos">
      <div id="tituloEquino">
        <h3>Equinodermos</h3>
      </div>
      <img src="../../assets/img/animalia/equinodermo.jpg" alt="">
    </div>
  </div>
</div>
