.div{
    width:40%;
    margin: 1% 0 1% 30%;
    text-align: center;
}
/* ids */
#poriferos,#cnidarios,#platelmintos,#nematelmintos,#anelideos,#moluscos,#artropodes,#equinodermos{
    border:1px solid black;
    width:20%;
    height: 150px;
}
#cordados{
    border: 1px solid black;
    width: 40%;
    height: 300px;
}
/* #filosAnimalia{
} */
#animaliaCima{
    display: flex;
    flex-direction: row;
}
#animaliaBaixo{
    display: flex;
    flex-direction: row;
}
#animaliaMeio{
    display: flex;
    flex-direction: row;
    align-items: center;
}