<div class="div">
  <h1>O Reino Protista:</h1>
  <p>O reino protista é onde se encaixam os seres vivos eucariontes que não se encaixam
    nos Reinos animalia, plantae e funghi. E podem ser <a>Autótrofos</a> ou <a>Heterótrofos</a>.
  </p>
</div>

<div>
  <h2>Autótrofos (basicamente algas):</h2>
  <div id="autotrofos">
    <div id="autoCima">

    <div id="crisofitas">
      <div id="tituloCris">
        <h3>Crisófitas</h3>
      </div>
    </div>

    <div id="pirrofitas">
      <div id="tituloPirr">
        <h3>Pirrófitas</h3>
      </div>
    </div>

    <div id="euglenofitas">
      <div id="tituloEugl">
        <h3>Euglenófitas</h3>
      </div>
    </div>
    </div>
    <div id="autoBaixo">
      <div id="clorofitas">
        <div id="tituloClor">
            <h3>Clorófitas</h3>
        </div>
      </div>

      <div id="rodofitas">
        <div id="tituloRodo">
            <h3>Rodófitas</h3>
        </div>
      </div>

      <div id="phaeophytas">
        <div id="tituloPhae">
            <h3>Phaeophytas</h3>
        </div>
      </div>
    </div>
  </div>

  <div id="heterotrofos">
    <h2>Heterótrofos:</h2>
    <div id="rizopodes">
      <div id="tituloRizo">

      </div>
    </div>

    <div id="mastigoforos">
      <div id="tituloMast">

      </div>
    </div>

    <div id="cilioforos">
      <div id="tituloCili">

      </div>
    </div>

    <div id="esporozoarios">
      <div id="tituloEspo">

      </div>
    </div>

    <div id="mixomicetos">
      <div id="tituloMixo">

      </div>
    </div>
  </div>
</div>
